*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family:"Pokemon_GB";
	src:url("../Pokemon_GB.ttf");
}
body{
	padding:0;
	margin: 0;
	background-color:#fb0505;
	border-right:20px solid #ab0000;
	border-left:20px solid #ab0000;
	border-bottom:20px solid #ab0000;
	text-align:center;
}
#wrapper{
	font-family:Pokemon_GB;
	color:green;
	margin:0 auto;
}
h1, #content-header p {
	text-align:center;
	padding:20px;
}
#content-header{
	display:block;
	background-color:#cb0404;
	border:20px solid #ab0000;
	border-radius:20px;
	box-shadow:1px 3px 5px #555;
	margin:25px 50px;
}
form{
	padding:15px;
	text-align:center;
}
button{
	margin: 10px 0;
}
#pokeform{
	border:20px solid #ab0000;
	border-radius:20px;
}
label {
	display:block;
	margin:8px 0;
}
